*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.error{
    color: red;
    font-weight: 700;
    font-size: 12px;
    position: absolute;
    /*margin-top: 5px;*/
    /*margin-bottom: 10px;*/
    cursor: pointer;
    display: flex;
}
.error__ico{
    font-size: 18px;
    margin-left: 5px;
}


.input{
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
}
.footer{
    margin-top: 10px;
}